body {
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style-type: square;
}
.top-absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20px;
  left: 50%;
}
.white-text {
  color: white;
}
.model {
  background: rgb(0, 203, 253);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  width: 80%;
}
.model.active {
  transform: translate(-50%, -50%) scale(1);
}
.model-heading {
  background-color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.model-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.close {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
}
#overlay {
  opacity: 0;
  position: fixed;
  transition: 100ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.model-content-education {
  background-color: #320d3e;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.educaiton-model {
  color: black;
  font-size: 1.5rem;
  background-color: #d902ee;
  padding: 8px 20px 8px 20px;
  border-radius: 10px;
}
.education-title {
  border: 2px solid #f162ff;
  background-color: #f162ff;
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  transition: 100ms;
}
.education-title:hover {
  border-radius: 2px;
  border: 2px solid rgb(27, 209, 255);
  cursor: pointer;
}
.education-content {
  padding-right: 8px;
  font-size: 1.2rem;
  color: black;
  background-color: #ffd79d;
  border-radius: 10px;
}
ul {
  padding-top: 2px;
  padding-bottom: 2px;
}
.width50 {
  width: 50%;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #320d3e;
}

.sub-project-card {
  width: 73%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 100px;
  border-radius: 10px;
  background-color: #d902ee;
  padding: 4px 6px 4px 6px;
}
.project-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.project-points > li {
  font-size: 1.2rem;
}

.github-button {
  background-color: #ffd79d;
  border: 0.5px solid black;
  border-radius: 5px;
}

.github-button:hover {
  background-color: #797775;
  color: #ffffff;
  border-radius: 8px;
}
@media screen and (max-width: 575px) {
  .model-content-education {
    flex-direction: column;
  }
  .educaiton-model {
    font-size: 1rem;
    margin: 4px;
  }
  .education-content {
    font-size: 1rem;
    color: black;
    background-color: #ffd79d;
  }
  .width50 {
    width: 80%;
  }
}
